# Data
pandas
numpy
pyarrow
requests

# ML
torch
pytorch-forecasting
lightning
optuna
optuna-integration[pytorch_lightning]
lightgbm

# Experiment tracking
wandb
tensorboard

# Utils
python-dotenv
matplotlib
statsmodels